{
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^react",
        "",
        "@testing-library/",
        "",
        "dayjs/*",
        "<THIRD_PARTY_MODULES>",
        "",
        "@/components/",
        "@/hooks/",
        "@/lib/",
        "@/state/",
        "@/constants/",
        "@/types/",
        "",
        "^[./]"
    ],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true
}
